.dropdown {
  width: 20%;
  margin-left: 10px;
  position: absolute;
  left: 187px;
  top: 50px;
  z-index: 99;
}

.dropdown-content {
  width: 232px;
  height: 350px;
  background: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 12px;
  box-shadow: 2px 2px 5px rgb(216, 212, 212);
  padding: 12px;
}

.dropdown-item {
  margin-top: 20px;
  margin-left: 16px;
  font-family: "Graphik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #6b728a;
}

.labels {
  display: flex;
}

.label-item {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #6b728a;
  padding: 6px 20px;
  margin: 2px;
}

.label-item-yellow-color {
  background: #fffce6;
  color: #645506;
}

.label-item-purple-color {
  background: #e9e6ff;
  color: #0e0664;
}

.dropdown-input-filter {
  padding: 12px 76px 12px 16px;
  border: none;
  background-color: #f7f6f6;
  margin: 10px 0;
}

.error-message {
  font-size: 12px;
  color: red;
  margin: 11px 0 0 14px;
}